<div class="row">
  <div class="col-12 mb-4">
    <div id="present_note">
      <h5 class="text-uppercase checkout-content-header">
        <%= Spree.t('it_is_a_present.form.header') %>
      </h5>
      <%= form.fields_for :present_note, order.present_note_with_default do |present_note_form| %>
        <div class="inner checkout-content-inner" data-hook='present_note_inner'>
          <div class="form-group checkout-content-inner-field has-float-label">
            <%= present_note_form.text_field :recipient_name, class: 'required spree-flat-input', placeholder: Spree.t('it_is_a_present.form.recipient_name') %>
            <%= present_note_form.label :name, Spree.t('it_is_a_present.form.recipient_name'), class: 'text-uppercase' %>
          </div>
          <div class="form-group checkout-content-inner-field has-float-label">
            <%= present_note_form.text_area :dedication, class: 'required spree-flat-input', placeholder: Spree.t('it_is_a_present.form.dedication') %>
            <%= present_note_form.label :dedication, Spree.t('it_is_a_present.form.dedication'), class: 'text-uppercase' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
